accelerate
pynvml
sentencepiece
bitsandbytes-cuda112
transformers==4.19.2
datasets
pytorch-lightning
pytorch-metric-learning
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability